{% extends 'kasim/index.html' %}
{% load static %}
{% block content %}
    <div style="width: 100%; height: 430px; background-color: #22DED4;">
        <div style="width: 70%;height: 300px; padding-left: 200px; padding-top: 100px;">
            <label
                style="color: white; font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif; font-size: 50px;"><b>Placements</b></label>
                <br>
                <br>
            <label style="color: white; font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif; font-size: 20px;">Baabtra has
                helped 1000+ freshers in Kerala to start their career as a software developer/programmer both in MNC’s
                like Oracle, UST Global, Infosys, Cognizant etc and SME’s through our training/internship programs.
                Baabtra work as recruitment partner for many IT Companies in hiring entry level talented programmers.
                Some of such companies are SRIT India Pvt Ltd, Sesame, Nucore, Limenzy Technologies, Xpertcube, Vinam
                Solutions, IOSS, Zoondia, Minimalister, Wiinnova, Software Associates, Limner Consulting LLP, ihits
                technologies,HyperBlox India Pvt.Ltd, BrainBox, Kaiser Haus etc</label>

        </div>


    </div>
    <br>
    <br>
    <center>
    <div style="width: 100%; height: 1000px">
        <img src="{% static 'images/anusree.PNG' %}" alt="" width="300px" height="500px">
        <img src="{% static 'images/shahil.PNG' %}" alt=""  width="300px" height="500px">
        <img src="{% static 'images/shilpa.PNG' %}" alt=""  width="300px" height="500px">
        <img src="{% static 'images/do.PNG' %}" alt=""  width="300px" height="500px">

            
    </center>
    </div>
{% endblock %}